*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    border: none;
    text-align: center;
}

#container{
    background-color: rgb(14, 13, 13);
    border-radius: 8px;
    border-width: 50px solid #323232;
    height: 280px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 15vh;
    text-align: center;
    cursor: default;

}

h1{
    text-align: right;
    font-family: georgia;
    font-size: 1.2rem;
    margin-top: 10px;
}

h2{
    font-family: arial;
    text-align: right;
    font-size: .8rem;
    margin-top: 10px;
}

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    border-radius: 6px;
    display: block;
    width: 100%;
    margin-left: auto;
}

label{
    text-align: left;
    margin: 15px;
    font-weight: none;
    font-size: .9rem;
    cursor: default;
    font-family: Verdana;
    margin-left: .8px;
}

input{
    border-bottom: 2px;
    color:#323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
}

button{
    text-align: center;
    text-transform: uppercase;
    font-weight: none;
    border: none;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: rgb(69, 11, 122);
    cursor: pointer;
    font-family: verdana;
}

body{
    background-color: #fff;
}